[
  {{singleton,false}, {var,'$22'}},

  {{intersection, [ {var,'$0'}, {tuple,[{singleton,false},{predef,any}]} ]}, {tuple,[{var,'$16'},{var,'$17'}]}},
  {{var,'T'}, {var,'$1'}},
  
  {{intersection,
     [
      {var,'$0'},
      {negation, 
      {tuple,[ {union, [{singleton,true}, {singleton, false}]} ,{predef,any}]}},
      {tuple,[{predef,any},{singleton,false}]}
    ]}, {tuple,[{var,'$27'},{var,'$28'}]}},

  {{intersection,
     [{var,'$0'},
      {negation, {tuple,[ {union, [{singleton,true}, {singleton, false}]} ,{predef,any}]}},
      {tuple,[{predef,any},{singleton,false}]}
    ]}, {tuple,[{var,'$29'},{var,'$30'}]}},


  {{var,'$11'}, {union,[{var,'T'},{singleton,false}]}},
      
  {{intersection,[
    {var,'$0'},
    {tuple,[{singleton,true},{predef,any}]}
  ]}, {tuple, [{var,'$7'}, {var,'$8'}]}},


  {
    {intersection,[
      {var,'$0'},
      {tuple,[{singleton,true},{predef,any}]}
      ]}, 
      {tuple, [{var,'$3'}, {var,'$4'}]}},


      
  {{var,'$0'}, {union,[{intersection,[{tuple,[{singleton,true},{predef,any}]},
                                    {tuple,[{predef,any},{predef,any}]}]},
                     {intersection,[{tuple,[{singleton,false},{predef,any}]},
                                    {tuple,[{predef,any},{predef,any}]}]},
                     {intersection,[{tuple,[{predef,any},{singleton,false}]},
                                    {tuple,[{predef,any},{predef,any}]}]}]}},
                                    
  {{intersection,[{var,'$0'},
                {tuple,[{singleton,true},{predef,any}]},
                {tuple,[{predef,any},{predef,any}]}]}, {tuple,
                                                        [{var,'$9'},
                                                         {var,'$10'}]}},
                                                         
  {{singleton,true}, {var,'$11'}},
  
  {{predef,any}, {var,'$2'}},
  
  {{var,'$22'}, {union,[{var,'T'},{singleton,false}]}},
  
  {{tuple,[{var,'$2'},{var,'$1'}]}, {var,'$0'}},
  
  {{intersection,
     [{var,'$0'},
      {negation,
          {intersection,
              [{tuple,[{singleton,true},{predef,any}]},
               {tuple,[{predef,any},{predef,any}]}]}},
      {tuple,[{singleton,false},{predef,any}]},
      {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$14'},{var,'$15'}]}},
      
  {{intersection,
     [{var,'$0'},
      {negation,
          {intersection,
              [{tuple,[{singleton,true},{predef,any}]},
               {tuple,[{predef,any},{predef,any}]}]}},
      {tuple,[{singleton,false},{predef,any}]},
      {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$20'},{var,'$21'}]}},
      
  {{intersection,
     [{var,'$0'},
      {negation,
          {intersection,
              [{tuple,[{singleton,true},{predef,any}]},
               {tuple,[{predef,any},{predef,any}]}]}},
      {tuple,[{singleton,false},{predef,any}]},
      {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$18'},{var,'$19'}]}},
      
  {{singleton,false}, {var,'$33'}},
  
  {{intersection,
     [{var,'$0'},
      {negation,
          {union,
              [{intersection,
                   [{tuple,[{singleton,true},{predef,any}]},
                    {tuple,[{predef,any},{predef,any}]}]},
               {intersection,
                   [{tuple,[{singleton,false},{predef,any}]},
                    {tuple,[{predef,any},{predef,any}]}]}]}},
      {tuple,[{predef,any},{singleton,false}]},
      {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$31'},{var,'$32'}]}},
      
  {{intersection,
     [{var,'$0'},
      {negation,
          {union,
              [{intersection,
                   [{tuple,[{singleton,true},{predef,any}]},
                    {tuple,[{predef,any},{predef,any}]}]},
               {intersection,
                   [{tuple,[{singleton,false},{predef,any}]},
                    {tuple,[{predef,any},{predef,any}]}]}]}},
      {tuple,[{predef,any},{singleton,false}]},
      {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$25'},{var,'$26'}]}},
      
      
  {{var,'$33'}, {union,[{var,'T'},{singleton,false}]}},
  
  {{intersection,[{var,'$0'},
                {tuple,[{singleton,true},{predef,any}]},
                {tuple,[{predef,any},{predef,any}]}]}, {tuple,
                                                        [{var,'$5'},
                                                         {var,'$6'}]}}
].